#artist-wishlist {
    border-top:1px solid rgba(0,0,0,0.1);
    margin-top:15px;
    padding-top:20px;
}
#artist-wishlist label {
    margin-top:10px;
}
.radio-row {
    border-radius: 8px;
    border:1px solid rgba(0,0,0,0.1);
    text-align: center;
    margin: 0 0 20px 0;
    padding: 6px 0;
}
.radio-block {
    display: inline-block;
    text-align: center;
    padding: 2px 10px 0;
}
.radio-block label {
    display: block;
    color:#333;
    font-size: 11px;
    margin-top:2px;
}
.radio-option{
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #f4f4f4;
	cursor: pointer;
}
.radio-option.active, .radio-option:hover{
	border: 2px solid #a40c35;
}
#options-tv-show .radio-block, #options-obstacle .radio-block, #options-animal .radio-block{
	padding: 2px 4px 0;
}
@media (max-width: 1284px){
	#options-tv-show .radio-block, #options-obstacle .radio-block, #options-animal .radio-block{
		padding: 2px 44px 0;
	}
}
#options-tv-show input, #options-obstacle input, #options-animal input{
	display: none;
}
.artist {
    border-radius: 8px;
    border:1px solid rgba(0,0,0,0.1);
    padding: 3px 10px;
    margin-bottom: 25px;
}
.artist .artist-rating {
    display: inline-block;
    text-align: center;
    width: 7.5%;
}
.artist h6 {
    margin-bottom: 0px;
}
.artist .artist-rating label {
    display: block;
    color:#999594;
    font-size: 11px;
    margin-top:2px;
}
.error {
    background: #a40c35;
    color:white;
    border-radius: 4px;
    line-height: 18px;
    text-align: center;
    font-size:14px;
    font-family: 'Veneer',serif;
    text-transform: uppercase;
}

